[run]
source = heroes,superhero_api,config
omit =
    .venv/*
    */migrations/*
    */tests/*
    config/wsgi.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError

[html]
directory = htmlcov
